pipeline/PipelineThree.json
{
	"name": "PipelineThree",
	"properties": {
		"activities": [
			{
				"name": "SettingVariable_Y",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable_Y",
					"value": [
						1,
						2,
						3,
						4,
						5
					]
				}
			},
			{
				"name": "variableLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SettingVariable_Y",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Variable_Y')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(item(),0 )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Variable_Y",
											"value": "2020"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Multiplyby2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "MultiplyBy2",
											"value": {
												"value": "@mul(item(),2)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Variable_Y": {
				"type": "Array"
			},
			"MultiplyBy2": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}